.container {
  margin: right;
  display: flex;
  justify-content: end;
  padding: 0 6rem;
}
.app_content {
  display: flex;
  justify-content: space-between;
}
.nav-icon {
  cursor: pointer;
  font-size: 2.5rem;
  color: var(--azul);
  line-height: 1;
  width: max-content;
  transition: color 0.3s ease-in-out;
}
.container-principal {
  width: 100%;
}
