@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  --content-color: #110E24;
  --text-shadow: 0 0 6px rgb(0, 0, 0, 0.25);
  --azul: #007AFF;
  --background-color: #07041b;
}
body {
  font-size: 1.6rem;
  background-color: var(--background-color);
  height: 100vh;
}