.bets_container_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2.2rem;
}
.matches_button_container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  gap: 1rem;
}
.matches_button_container button {
  background-color: #00a343;
  padding: 1rem 5.1rem;
  border: none;
  border-radius: 1rem;
  font-weight: 700;
  color: white;
  text-shadow: var(--text-shadow);
  cursor: pointer;
}
.table_scroll {
  height: 35rem;
  max-height: 35rem;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0.5rem;
  background-color: var(--content-color);
}
.table_container {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  padding: 0.8rem;
}
.table_container th,
.table_container td {
  background-color: var(--content-color);
  color: white;
  padding: 0.8rem;
  font-weight: 700;
}
.home_away_container {
  display: flex;
  gap: 3.4rem;
}
.matches_container {
  background-color: var(--content-color);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 3rem;
  width: 34.2rem;
  border-radius: 0.5rem;
}
.team_name {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
}
.match_container {
  color: var(--azul);
  display: flex;
  font-weight: 700;
  gap: 3.6rem;
}
.result_container {
  align-items: center;
  display: flex;
  gap: 1rem;
}
.result_container i {
  line-height: 0;
  font-size: 2.4rem;
}
.ht_input,
.ft_input {
  outline: none;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 2px solid var(--azul);
  color: white;
  font-weight: 700;
}
.ht_input {
  width: 1.3rem;
  height: 1.9rem;
  font-size: 1rem;
  padding-left: 0.2rem;
}
.ft_input {
  padding-left: 0.4rem;
  font-size: 1.5rem;
  width: 1.9rem;
  height: 2.6rem;
}
.green {
  color: #00ff4c !important;
  font-weight: 700;
}

.yellow {
  color: #ffe600 !important;
  font-weight: 700;
}

.red {
  color: #ff3b3b !important;
  font-weight: 700;
}
.input_team_name {
  background-color: var(--content-color);
  border: none;
  border-bottom: 1px solid var(--azul);
  outline: none;
  color: white;
  font-weight: 700;
  width: 10rem;
  padding-left: 0.5rem;
}
.error_message {
  color: #ff3b3b;
  font-size: 1rem;
}
