.cycles_container {
  display: flex;
  gap: 4.75rem; /* 3.8 * 1.25 */
  text-align: center;
}
.cycles_content {
  display: flex;
  flex-direction: column;
  gap: 4.25rem; /* 3.4 * 1.25 */
}
.cycle_number {
  background-color: var(--content-color);
  width: 20.875rem; /* 16.7 * 1.25 */
  height: 43.125rem; /* 34.5 * 1.25 */
  border-radius: 0.625rem; /* 0.5 * 1.25 */
  padding: 2.5rem; /* 2 * 1.25 */
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1.875rem; /* 1.5 * 1.25 */
  font-size: 1.875rem; /* 1.5 * 1.25 */
}
.cycles_names {
  font-size: 1.875rem; /* 1.5 * 1.25 */
  height: 43.125rem; /* 34.5 * 1.25 */
  text-align: end;
  display: flex;
  flex-direction: column;
  gap: 1.875rem; /* 1.5 * 1.25 */
  /* padding-top: calc((0.2 + 2.3 + 1.5 + 1.5 + 2) * 1.25)rem */
  padding-top: calc(0.25rem + 2.875rem + 1.875rem + 1.875rem + 2.5rem); /* Valores internos multiplicados por 1.25 */
  padding-bottom: 2.5rem; /* 2 * 1.25 */
  justify-content: end;
  font-weight: 600;
  color: var(--azul);
}
.cycle_data_container {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* 1.6 * 1.25 */
  align-items: end;
}
.cycle_data_div {
  display: flex;
  gap: 4.75rem; /* 3.8 * 1.25 */
}
.cycle_content {
  width: 20.875rem; /* 16.7 * 1.25 */
  height: 8.75rem; /* 7 * 1.25 */
  background-color: var(--content-color);
  border-radius: 0.625rem; /* 0.5 * 1.25 */
  text-align: center;
  color: white;
  padding: 0.625rem; /* 0.5 * 1.25 */
}